# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Distribution / Build
dist/
build/
*.spec
!TaxChecker.spec

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

bin

log

*.png
